<section class="brands">
	<div class="container container--brands">
		<div class="swiper-container">
			<div class="brands__wrapper swiper-wrapper">
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-airbnb.svg" alt="Airbnb Logo">
				</div>
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-hubspot.svg" alt="Hubspot Logo">
				</div>
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-google.svg" alt="Google Logo">
				</div>
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-microsoft.svg" alt="Microsoft Logo">
				</div>
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-walmart.svg" alt="Walmart Logo">
				</div>
				<div class="swiper-slide brands__item">
					<img loading="lazy" src="img/logo-fedex.svg" alt="FedEx Logo">
				</div>
			</div>
		</div>
		
	</div>
</section>