<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__wrapper__item footer__wrapper__item--left">
				<figure class="footer__image">
					<img loading="lazy" src="img/secondary-logo.svg" alt="Website logo">
				</figure>
				<div class="footer__links">
					<a class="footer__links__item" href="#" title="Download Now">Download Now</a>
					<a class="footer__links__item" href="#" title="License">License</a>
				</div>
				<div class="footer__menu__links">
					<a href="#" title="About">About</a>
					<a href="#" title="Features">Features</a>
					<a href="#" title="Pricing">Pricing</a>
					<a href="#" title="Careers">Careers</a>
					<a href="mailto:test@test.com" title="Help">Help</a>
					<a href="#" title="Privacy Policy">Privacy Policy</a>
				</div>
				<div class="footer__rights">
					© 2020 Landify UI Kit.<br>All rights reserved
				</div>

			</div>
			<div class="footer__wrapper__item footer__wrapper__item--right">
				<div class="cta__badge">
					<div class="cta__badge__title">Get the App</div>
					<nav class="social">
						{% include 'social' %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>