<a href="#" class="social__item" title="Google Play Store" >
	<img loading="lazy" src="img/google-play-store.svg" alt="Google Play Store">
</a>
<a href="#" class="social__item" title="App Store">
	<img loading="lazy" src="img/app-store.svg" alt="App Store">
</a>