<div class="features__item">
	<div class="features__item__image">
		<img loading="lazy" src="{{image}}" alt="Features item image"></div>
		<div class="features__item__title">{{title}}</div>
		<div class="features__item__desc">{{desc}}</div>
</div>