<div class="testimonials__item">
	<div class="testimonials__item__image">
		<img loading="lazy" src="{{image}}" alt="Testimonails item image">
	</div>
	<div class="testimonials__item__content__wrapper">
		<svg class="icon icon-quote-mark"><use xlink:href="#icon-quote-mark"></use></svg>
		<div class="testimonials__item__comment__wrapper">
			<div class="testimonials__item__comment">{{comment}}</div>
			<div class="testimonials__item__person">
				<div class="testimonials__item__person--name">{{person_name}}</div>
				<div class="testimonials__item__person--degree">{{person_degree}}</div>
			</div>
		</div>	
	</div>
</div>