.testimonials__item {
	background-color: #FFFFFF;
	padding: 2em;
	border-radius: var(--border-radius);
	box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);

	&__image {
		margin-bottom: 2em;
		img {
			height: 40px;
		}
	}

	&__content__wrapper {
		display: flex;

		.icon-quote-mark {
			width: 1em;
			min-width: 1em;
			height: 1em;
		}
	}

	&__comment__wrapper {
		margin-left: 1em;
	}

	&__comment {
		font-size: 1.125rem;
		line-height: 1.78em;
		margin-bottom: 1.334em;
	}

	&__person {
		&--name {
			font-weight: var(--font-bold);
			font-size: 1.125rem;
			line-height: 1.56em;
		}
		&--degree {
			font-weight: var(--font-medium);
			font-size: .875em;
			line-height: 1.715em;
			color: var(--color-gray)
		}
	}
}