<div class="counters__item">
	<div class="counters__item__image">
		<img loading="lazy" src="{{image}}" alt="Counters item image">
	</div>
	<div class="counters__item__detail">
		<div class="counters__item__detail__number">{{number}}</div>
		<div class="counters__item__detail__title">{{title}}</div>
	</div>
</div>